<div class="small-6 small-centered columns">
	<form>
	  <fieldset>

	    <div class="row collapse">
			<div class="small-3 columns">
				<span class="prefix">Full Name</span>
			</div>
			<div class="small-9 columns">
				<input type="text" placeholder="Enter your name..." ng-model="temps.name" required>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-3 columns">
				<span class="prefix">Course</span>
			</div>
			<div class="small-9 columns">
				<select ng-model="temps.course" required>
					<option value="B.Tech. Pulp and Paper Engineering">B.Tech. Pulp and Paper Engineering</option>
					<option value="IDD Process Engineering with MBA">IDD Process Engineering with MBA</option>
					<option value="IMT Polymer Science and Technology">IMT Polymer Science and Technology</option>
				</select>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-3 columns">
				<span class="prefix">Email</span>
			</div>
			<div class="small-9 columns">
				<input type="text" placeholder="Enter your email..." ng-model="temps.email" required>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-3 columns">
				<span class="prefix">Mobile No.</span>
			</div>
			<div class="small-9 columns">
				<input type="text" placeholder="Enter your mobile no..." ng-model="temps.phoneNo" required>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-3 columns">
				<span class="prefix">DOB</span>
			</div>
			<div class="small-9 columns">
				<input type="date" ng-model="temps.dob" required>
			</div>
		</div>
		<div class="row collapse">
			<div class="small-3 columns">
				<span class="prefix">Hometown</span>
			</div>
			<div class="small-9 columns">
				<input type="text" placeholder="Enter your hometown..." ng-model="temps.hometown" required>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<input type="submit" class="button columns radius" value="Update Details" ng-click="updateUserDetails()">
			</div>
			<div class="small-12 columns">{{temps.error}}</div>
		</div>
	  </fieldset>
	</form>
</div>